# =========================
# Configuration of Google Services
# =========================
GOOGLE_OAUTH_CLIENT_ID=id_example
GOOGLE_OAUTH_CLIENT_SECRET=your_password


# =========================
# Configuration of SMTP Provider for send emails
# =========================
MAIL_HOST=email@example.com
MAIL_PORT=number of port that you will use
MAIL_USERNAME=email@example.com
MAIL_PASSWORD=your_password
MAIL_USE_TLS=True

DEFAULT_FROM_EMAIL="name-enterprise <email@example.com>"